<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    <style>
      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #6a11cb, #2575fc);
        color: white;
        font-family: Arial, sans-serif;
        font-size: 2rem;
        text-align: center;
        overflow-y: hidden;
      }
    </style>
  </head>
  <body>
    Hello World! <br />
    Web Development using Python
  </body>
</html>
